asgiref==3.2.10
autopep8==1.5.4
certifi==2020.6.20
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
Django==3.1.1
django-excel==0.0.10
django-silk==4.1.0
django-simpleui==2020.9.26
djangorestframework==3.11.1
drf-yasg==1.17.1
et-xmlfile==1.0.1
gprof2dot==2019.11.30
idna==2.10
inflection==0.5.1
itypes==1.2.0
jdcal==1.4.1
Jinja2==2.11.2
lml==0.0.9
MarkupSafe==1.1.1
openpyxl==3.0.5
packaging==20.4
pycodestyle==2.6.0
pyexcel==0.6.4
pyexcel-io==0.5.20
pyexcel-webio==0.1.4
pyexcel-xlsx==0.5.8
Pygments==2.7.1
PyJWT==1.7.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
six==1.15.0
sqlparse==0.3.1
texttable==1.6.3
toml==0.10.1
uritemplate==3.0.1
urllib3==1.25.10
